layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane edit="src/main.rs"
        pane {
            pane stacked=true {
                pane size="10%" command="bash" name="COMPILE AND RELOAD PLUGIN" {
                    args "-c" "if ! command -v watchexec 2>&1 >/dev/null; 
                    then watchexec 'cargo build && zellij action start-or-reload-plugin file:target/wasm32-wasi/debug/zellij-choose-tree.wasm';
                    else cargo build && zellij action start-or-reload-plugin file:target/wasm32-wasi/debug/zellij-choose-tree.wasm;
                    fi"
                }
                pane expanded=true {
                    plugin location="file:target/wasm32-wasi/debug/zellij-choose-tree.wasm"
                }
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
